### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import collections

In [2]:
# Read the CSV into a Pandas DataFrame
purchase_data = "Resources/purchase_data.csv"

purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()
#purchase_data=pd.read_csv('purchase_data.csv')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Total purchase by player
purchase_by_player=purchase_data_df["SN"].value_counts()
purchase_by_player.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Chadolyla44    3
Tyidaim51      3
Name: SN, dtype: int64

## Player Count

* Display the total number of players

In [4]:
#total number of players 
total_players = len(purchase_data_df["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Basic Calculation 
unique_items = len((purchase_data_df["Item ID"]).unique())
average_price = (purchase_data_df["Price"]).mean()
number_of_purchases = (purchase_data_df["Purchase ID"]).count()
total_revenue = (purchase_data_df["Price"]).sum()

#Data Frame to hold results
summary_df = pd.DataFrame({"Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Update numbers 
pd.options.display.float_format="${:,.2f}".format

#Display DataFrame
summary_df.head()

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Gender demographics  
#Count and total per gender
gender_count = purchase_data_df.groupby(['Gender'])['Purchase ID'].count()
gender_revenue= purchase_data_df.groupby(['Gender'])['Price'].sum()
merge_table = pd.merge(gender_count,gender_revenue, on="Gender")

In [7]:
#Percentage
gender_percent=merge_table.iloc[:,1:3].apply(lambda x: x / x.sum()) 
pd.options.display.float_format = '{:.2f}%'.format
gender_percent= gender_percent.rename(columns={"Price":"Percentage"})

In [8]:
#Final Table
Gender_demographics = pd.merge(merge_table ,gender_percent, on="Gender")
Gender_demographics

                       Purchase ID    Price  Percentage
Gender
Female                         113  361.94%       0.15%
Male                           652 1967.64%       0.83%
Other / Non-Disclosed           15   50.19%       0.02%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

     Total Purchase
Age
7                 9
8                 8
9                 6
10                9
11                7
12                6
13                4
14                2
15               35
16               30
17               22
18               26
19               23
20               99
21               62
22               70
23               67
24               67
25               59
26               14
27               10
28                5
29               13
30               35
31                7
32                8
33               14
34                9
35               14
36                5
37                7
38                9
39                6
40                6
41                2
42                1
43                1
44                2
45                1

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Create the bins in which Data will be held  
bins = [0, 9, 19, 29, 39, 49]

# Create the names for the four bins
Age_group = ["<10", "<20", "<30", "<40", "<50"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_count = purchase_data_df.groupby(['Age']).count()
purchase_count = purchase_count.iloc[:,1:2]
purchase_count.rename(columns={"SN":"Total Purchase"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame