### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

In [2]:
# Read the CSV into a Pandas DataFrame
purchase_data=pd.read_csv('purchase_data.csv')

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
bin

In [14]:
#Total purchase by player
purchase_by_player=purchase_data["Gender"].value_counts()
purchase_by_player.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

## Player Count

* Display the total number of players

In [5]:
#total number of players 
total_players = len(purchase_data["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Basic Calculation 
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

#Data Frame to hold results
summary_df = pd.DataFrame({"Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Update numbers 
pd.options.display.float_format="${:,.2f}".format

#Display DataFrame
summary_df.head()

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [34]:
#gender_group = purchase_data_df.groupby('Gender')
gender_groups = purchase_data.groupby('Gender')
gender_groups.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [32]:
#Percentage and Count of Male Players
#gender_groups = purchase_data.groupby(['Gender'])
#gender_groups.size().reset_index(name='count')

#Male_count = gender_groups

perc = purchase_data.groupby(['Gender'])['Price'].size()

# Give the percentage on the level of gender level:
percbygender = perc.groupby(level=0).apply(lambda Gender: 100 * x / float(Gender.sum()))

print(percbygender)

#Percentage and Count of Female Players
#Female_count = 


#Percentage and Count of Other / Non-Disclosed
#Outer_count = 

#bike_groups = bike_trips_df.groupby(['bikeid','gender'])

NameError: name 'x' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_data['Gender'].value_counts(normalize=True) * 100
gender_groups.div(gender_groups.groupby(level=[0, 1]).transform('sum'))

SyntaxError: unexpected EOF while parsing (<ipython-input-11-966cee60725e>, line 2)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame