### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import collections

In [3]:
# Read the CSV into a Pandas DataFrame
purchase_data = "Resources/purchase_data.csv"

purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()
#purchase_data=pd.read_csv('purchase_data.csv')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#Total purchase by player
purchase_by_player=purchase_data_df["SN"].value_counts()
purchase_by_player.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Aina42         3
Raesty92       3
Name: SN, dtype: int64

## Player Count

* Display the total number of players

In [7]:
#total number of players 
total_players = len(purchase_data_df["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Basic Calculation 
unique_items = len((purchase_data_df["Item ID"]).unique())
average_price = (purchase_data_df["Price"]).mean()
number_of_purchases = (purchase_data_df["Purchase ID"]).count()
total_revenue = (purchase_data_df["Price"]).sum()

#Data Frame to hold results
summary_df = pd.DataFrame({"Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Update numbers 
pd.options.display.float_format="${:,.2f}".format

#Display DataFrame
summary_df.head()

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [9]:
#Gender demographics  
#Count and total per gender
gender_count = purchase_data_df.groupby(['Gender'])['Purchase ID'].count()
gender_revenue= purchase_data_df.groupby(['Gender'])['Price'].sum()
merge_table = pd.merge(gender_count,gender_revenue, on="Gender")
merge_table = merge_table.rename(columns={"Purchase ID":"Total Items Purchase"})
merge_table

                       Total Items Purchase     Price
Gender
Female                                  113   $361.94
Male                                    652 $1,967.64
Other / Non-Disclosed                    15    $50.19

In [10]:
#Percentage
gender_percent=merge_table.iloc[:3,:1].apply(lambda x: x / x.sum())
gender_percent= gender_percent.rename(columns={"Total Items Purchase":"Percentage"})
gender_percent

                       Percentage
Gender
Female                      $0.14
Male                        $0.84
Other / Non-Disclosed       $0.02

In [11]:
#Final Table
Gender_demographics = pd.merge(merge_table ,gender_percent, on="Gender")
Gender_demographics

                       Total Items Purchase     Price  Percentage
Gender
Female                                  113   $361.94       $0.14
Male                                    652 $1,967.64       $0.84
Other / Non-Disclosed                    15    $50.19       $0.02

In [16]:
Gender_demographics.describe(include=[np.number])
#Gender_demographics.describe(include=['Total Items Purchase'])

       Total Items Purchase     Price  Percentage
count                 $3.00     $3.00       $3.00
mean                $260.00   $793.26       $0.33
std                 $343.00 $1,028.92       $0.44
min                  $15.00    $50.19       $0.02
25%                  $64.00   $206.06       $0.08
50%                 $113.00   $361.94       $0.14
75%                 $382.50 $1,164.79       $0.49
max                 $652.00 $1,967.64       $0.84


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Create the bins in which Data will be held  
bins = [0, 9, 19, 29, 39, 49]

# Create the names for the four bins
Age_group = ["<10", "<20", "<30", "<40", "<50"]
Age_group

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_count = purchase_data_df.groupby(['Age']).count()
purchase_count = purchase_count.iloc[:,1:2]
purchase_count.rename(columns={"SN":"Total Purchase"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame